.builder-questions .question {
  margin: 10px 0 10px 0;
}

.builder-questions .question .collapsed {
  min-height: 20px;
  border: 1px solid black;
  /*
  border-left: 10px solid #000;
  */
  padding: 10px;
  background: #b9c1ed;
}

.builder-questions .question .expanded {
  padding: 20px 10px 20px 10px;
  border: 1px solid black;
}
.builder-questions .question .expanded .qa-header {
  font-size: 72px;
}
.builder-questions .question .expanded .qa-content {
  font-size: 36px;
  padding: 10px 0 10px 0;
}

.builder-questions .question .next {
  font-size: 36px;
}


/* Preview sidebar ------------- */

#preview-sidebar {
  position: absolute;
  top: 200px;
  right: -80px;
  width: 120px;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  line-height: 125%;
	background: #F35351 url(../img/preview-plus.png) no-repeat left;
	display: none;
}

#preview-sidebar p {
	padding: 15px 0 15px 43px;
}

#preview-sidebar:hover {
	position: absolute;
	display: block;
	top: 200px;
	right: 0;
	width: 120px;
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	line-height: 125%;
	background: #F35351 url(../img/preview-plus.png) no-repeat left;
	float: right;	
}

/* Progress indicator ---------- */
.vline {
  position: relative;
  border-left: 2px solid #000;
  width: 20px;
  padding: 1px 0 1px 0;
  margin: 20px 0 20px 0;
}

.vline .circle {
  position: relative;
  left: -5px;
  width: 8px;
  height: 8px;
  margin: 50px 0 50px 0;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  background: #000;
}

