<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css" media="screen">
      /*@import url("css/bootstrap.min.css");
      @import url("css/bootstrap-responsive.min.css");*/
      @import url("css/reset.css");
      @import url("css/font-awesome.css");
      @import url("css/app.css");
      @import url("css/builder-qa.css");
      @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
      @import url(http://fonts.googleapis.com/css?family=Open+Sans:700italic,700);
      @import url(http://fonts.googleapis.com/css?family=Montserrat);
    </style>
</head>

<body>
		<div id="top-bar"></div>
			    <!-- Header -->
			    <header id="site-header">
			    <div class="row">
			    	<div class="span16">
			   		<div class="site-title"><a href="builder.html"><img src="img/logo.png" /></a></div>
			      	<ul class="nav">
			      		<li><a href="#">About<br />LocalData</a></li>
				  			<li><a href="#">Survey<br />Builder</a></li>
				        <li><a href="#">Your<br />Dashboard</a></li>
				    	</ul>
				  </header>
			</div>
		</div>
		
	   <div class="container">
	      <div class="row">
	        <div class="span3" id="progress-container">
	        	<a href="#"><div class="progress-bar"><p>Progress</p></div></a>
	        	<a href="#"><div class="progress-bar"><p>More Progress</p></div></a>
	        	<a href="#"><div class="progress-bar"><p>Progression!</p></div></a>
	        	<a href="#"><div class="progress-bar"><p>OMG Progress</p></div></a>
	        	<div class="help">
	        		<a href="#"><div class="help-icons">
	        			<img src="img/icon_save.png" />Save your progress
	        		</div></a>
	        		<a href="#"><div class="help-icons">	
	        			<img src="img/icon_question.png" />Help
	        		</div></a>
	        	</div>
	        </div>
	      	<div class="span13">
	      		<div id="maincontent-container">
	      			<div class="solidtopbar">
	      			  <!-- No pagination for now 
		      			  <ul>
		      			    <li><a href="#">1</a></li>
		      			    <li><a href="#">2</a></li>
		      			    <li><a href="#">3</a></li>
		      			    <li><a href="#">4</a></li>
		      			    <li><a href="#">5</a></li>
		      			    <li><a href="#">6</a></li>
		      			    <li><a href="#">7</a></li>
		      			    <li><a href="#">8</a></li>
		      			    <li><a href="#">9</a></li>
		      			    <li><a href="#">10</a></li>
		      			    <li><a href="#">11</a></li>
		      			    <li><a href="#">12</a></li>
		      			    <li><a href="#">13</a></li>
		      			    <li><a href="#">14</a></li>
		      			    <li class="nodivider"><a href="#">15</a></li>
		      			  </ul> 
	      			  -->
	      			</div>
	      			<div id="prompt-container" class="content-container">
	      			<h2 class="builder">Question #1</h2>
	      			<h1 class="builder">What kind of a building is this?</h1>
	      		</div>
	      		<div id="advance-question">
              <div id="prev-button" class="prev-button">Previous</div>
              <div id="next-button" class="next-button">Next</div>
            </div>
	      	</div>
	      </div>
	   </div>
	</div>

	<div id="preview-sidebar">
	        <p>Preview<br />your<br />survey</p>
	      </div>
	    </div> <!-- /container -->
	    
	<div class="question-nav-tooltip">
		<h2>Question #3</h2>
		<h1>What kind of home is this?</h1>
		<h3>You have not answered this question.</h3>
	</div>

  <div id="preview">
  </div>
	
	<div id="footer-outer">
		<div id="footer">
			<img src="img/cfa.png" /><!-- Footer content here -->
		</div>
	</div>
	    
	    <!-- Core scripts -->
	    <script type="text/javascript" src="js/lib/jquery-1.7.1.js"></script>    
	    <script type="text/javascript" src="js/lib/underscore.js"></script>    
	    <script type="text/javascript" src="js/lib/backbone.js"></script>
	    <script type="text/javascript" src="js/lib/backbone.paginator.js"></script>
	    <script type="text/javascript" src="js/lib/moment.min.js"></script>
	    
	    <!-- Templates ========================================================-->
      <script type="text/template" id="t-prompt-content">
        <h2 class="builder">Question #<%= index + 1 %></h2>
        <h1 class="builder"><%= question %></h1>
      </script>
      <script type="text/template" id="t-prompt-check">
        <input type="checkbox" <% if (checked) { print('checked="true"'); } %> data-index="<%= index %>"><%= text %></input>
      </script>
      <script type="text/template" id="t-prompt-radio">
        <input type="radio" <% if (checked) { print('checked="true"'); } %> name="<%= radioGroup %>" data-index="<%= index %>"><%= text %></input>
      </script>

      <script type="text/template" id="t-progress-tab">
        <a href="#"><div class="progress-bar" data-active="<%= active %>"><p><%= label %></p></div></a>
      </script>


      <script type="text/template" id="t-preview-questions-container">
        <div class="preview-q-box depth-<%= depth %>">
        <% if (condition !== null) { %>
          <div class="condition">
            If they choose <%= condition %>:
          </div>
        <% } %>
        </div>
      </script>
      <script type="text/template" id="t-preview-question">
        <div class="question-prompt">
          <%= prompt %>
        </div>
        <% _.each(answers, function (answer, i) { %> <div class="preview-answer"> <%= letters[i] %>: <%= answer %> </div> <% }); %>
      </script>
	    <!-- Question .........................................................-->
	    <script type="text/template" id="t-question">
	      <div class="collapsed"><i class="icon-ok"> <%= shortQuestion %></i></div>
	      <div class="expanded">
	        <div class="row">
	          <div class="qa-content span8">
	            <%= fullQuestion %>
	          </div>
	        </div>
	        <div class="row">
	          <div class="qa-content span8">
	            <div class="row">
	              <div class="span3"><img src="http://placekitten.com/100/100"></img></div>
	              <div class="span3"><img src="http://placekitten.com/100/100"></img></div>
	              <div class="span3"><img src="http://placekitten.com/100/100"></img></div>
	              <div class="span3"><img src="http://placekitten.com/100/100"></img></div>
	            </div>
	          </div>
	        </div>
	        <div class="row">
	          <div class="span2 offset7 next">
	            NEXT <i class="icon-arrow-down"></i>
	          </div>
	        </div>
	      </div> <!-- /expanded -->
	    </script>
	    <!-- Home .............................................................-->
	    <script type="text/template" id="home">
	      <div id='modal-list-surveys'>
	        <h1>Surveys</h1>
	        <% _.each(surveys, function(d) { %>
	            <h2><a href='#surveys/<%= d.id %>'><%= d.name %></a> </h2>
	        <% }); %>
	      </div>
	    </script>
	    
	    <!-- Survey view ......................................................-->
	    <script type="text/template" id="survey-view">
	      <header id="survey-header">
	        <div class="container">
	          <h2><%= survey.name %> </h2>
	        </div>
	      </header>
	      
	      <div id="content" class="container">
	        <div id="subnav" class="nav nav-tabs">
	        </div>
	      
	        <div id="body">
	        </div>   
	      </div>   
	    </script>
	    
	    <!-- Response view ....................................................-->
	    <script type="text/template" id="response-view">
	      <h3>Responses</h3>
	        
	      <div class="response-list">  
	      <div class="response">
	      <% _.each(responses, function(r) { %>
	          <h3><%= r.source.collector %></h3>
	          
	          <%= r.createdHumanized %>
	          <!--
	          <% _.each(r.responses, function(key, resp) { %>
	            <td><%= resp %></td>
	          <% }); %>
	          -->
	        </tr>
	      <% }); %>
	      </div>
	      </div>
	      
	      <div id="result-pagination"></div>
	    </script>
	    
	    <!-- Upload view ......................................................-->
	    <script type="text/template" id="upload-view">
	      <h3>Upload scanned paper forms</h3>
	      
	      <p>When you've scanned in the paper forms, you can upload them here.</p>
	      <p>Either click the button and select the files, or drag and drop them right onto the page!</p>
	      <div id="file-uploader"></div>
	      <div class="drop-area"></div>
	    </script>
	    
	    <!-- Scan view ........................................................-->
	    <script type="text/template" id="scan-view">
	      <h3>Scanned forms</h3>
	      <ul>
	        <% _.each(scans, function(scan) {  %>
	          <li>
	            <%= scan.filename %>
	            <span class="label"><%= scan.status %></span>
	            <%= scan.created %>
	          </li>
	        <% }); %>
	      </ul>
	    </script>
	    
	    <!-- Subnav view ......................................................-->
	    <script type="text/template" id="subnav-view">
	    <% _.each(items, function(item) {  %>
	      <li class="<%= item.active %> <%= item.icon %>"><a href="#<%= item.fragment %>"><%= item.title %></a></li>
	    <% }); %>
	    </script>
	    
	    <!-- Pagination view ..................................................-->
	    <script type="text/template" id="pagination-view">
	      <div class="pagination">
	        <ul>
	          <li><a href="#">Prev</a></li>          
	          <% _.each(_.range(1, pageCount + 1), function(page) { %>
	            <li class="pagination-item"><a href=""><%= page %></a></li>
	          <% }); %>
	          <li><a href="#">Next</a></li>
	        </ul>
	      </div>
	    </script>
	         
	    <script type="text/javascript" src="js/application.js"></script>
	    <!-- Models & router -->
	    <script type="text/javascript" src="js/models/surveys.js"></script>
	    <script type="text/javascript" src="js/models/responses.js"></script>
	    <script type="text/javascript" src="js/models/scans.js"></script>
	    <script type="text/javascript" src="js/routers/index.js"></script>
	    
	    <!-- Views -->
	    <script type="text/javascript" src="js/views/question.js"></script>
	    <script type="text/javascript" src="js/views/home.js"></script>
	    <script type="text/javascript" src="js/views/nav_view.js"></script>
	    <script type="text/javascript" src="js/views/survey_view.js"></script>
	    <script type="text/javascript" src="js/views/response_view.js"></script>
	    <script type="text/javascript" src="js/views/pagination_view.js"></script>
	    <script type="text/javascript" src="js/views/upload_view.js"></script>
	    <script type="text/javascript" src="js/views/scan_view.js"></script>
	
	    <!-- Root controls all: start here -->
	    <script type="text/javascript" src="js/views/root.js"></script>
	    <!--
	    <script type="text/javascript">
	        $(function() {
	            window.Everything = new NSB.views.Root();
	            Everything.startRouting();
	        })
	    </script>
	    -->
	    <script type="text/javascript" src="js/survey.js"></script>
	    <script type="text/javascript" src="js/builder.js"></script>
	   
	    
	</body>
	</html>
